@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

.estilos{
   background: #000000;
   font-family: 'Anton', sans-serif;
    
    display: flex;
}
.parrafo{
    padding-top: 50px;
    padding-left: 100px;
    font-size: 90px;
    color:#fff;
}
.imagen{
    padding-left: 200px;
}