@import url('https://fonts.googleapis.com/css2?family=Henny+Penny&display=swap');


.estilos{
   background: #000000;
    font-family: 'Henny Penny', cursive;
    text-align: center;
    
}
.parrafo{
    font-size: 60px;
    color: cornflowerblue;
}