.carousel, .carousel-inner > .item > img {
    height: 500px;
    width: 800px;
    
}
.carousel-item img{
    height:500px;
    width: 800px;
}
.slider1{
    padding-left: 300px;
    padding-top: 20px;
}